.cta-wrapper {
  font-family: sans-serif;
  margin: 0 auto;
  width: 100%;
  border: 1px solid #cacaca;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-box-shadow: 0px 1px 5px #ccc;
          box-shadow: 0px 1px 5px #ccc;
  display: block;
  overflow: hidden; }
  .cta-wrapper p {
    margin-bottom: 0; }

.cta-label {
  background-image: url("../images/ctazip.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .cta-label .overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1; }
  .cta-label span {
    display: block;
    color: #fff;
    font-size: 34px;
    font-weight: 600;
    width: 300px;
    margin: 0 auto;
    padding: 25px 25px 50px;
    text-align: center;
    z-index: 10;
    line-height: 39px; }
  .cta-label .mask {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #fff;
    border-width: 50px 34vw 0;
    border-top-color: transparent;
    border-bottom-color: transparent; }

.cta-content {
  padding: 20px 0;
  margin-top: 0px; }
  .cta-content label {
    color: #444;
    display: block;
    font-weight: 600;
    margin: 0 auto;
    text-align: center; }
  .cta-content .input-control {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .cta-content .input-control input[type="text"] {
      border: 1px solid rgba(202, 202, 202, 0.6);
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      padding: 12px 18px;
      font-size: 16px;
      width: initial; }
      .cta-content .input-control input[type="text"]::-webkit-input-placeholder {
        color: #aaa; }
      .cta-content .input-control input[type="text"]::-ms-input-placeholder {
        color: #aaa; }
      .cta-content .input-control input[type="text"]::placeholder {
        color: #aaa; }
      .cta-content .input-control input[type="text"]:focus {
        border-color: #cacaca;
        outline: none; }
    .cta-content .input-control button {
      border: 0.25px solid #ff8a12;
      background-color: #ff8a12;
      color: #fff;
      padding: 10px 15px;
      font-size: 16px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      cursor: pointer; }
      .cta-content .input-control button:focus, .cta-content .input-control button:hover {
        outline: none;
        background-color: rgba(255, 138, 18, 0.8); }

@media (min-width: 768px) {
  .cta-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
  .cta-label {
    -webkit-box-flex: 5;
        -ms-flex-positive: 5;
            flex-grow: 5; }
    .cta-label .mask {
      position: absolute;
      top: 0;
      right: 0;
      left: initial;
      z-index: 1;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: #fff;
      border-width: 74px 50px;
      border-left-width: 30px;
      border-right-color: transparent;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
    .cta-label span {
      padding: 35px 25px; }
  .cta-label span, .cta-content {
    margin: 0;
    text-align: left; }
  .cta-content {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    margin-top: 25px;
    padding: 10px 0; }
    .cta-content label, .cta-content .input-control {
      text-align: left; }
    .cta-content .input-control {
      -webkit-box-pack: left;
          -ms-flex-pack: left;
              justify-content: left; }
      .cta-content .input-control input[type="text"] {
        width: 100px; }
      .cta-content .input-control button {
        padding: 10px 25px; } }

/*# sourceMappingURL=cta-zip.css.map */
