@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,900&display=swap');

body { font-family: "Lato", sans-serif; }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-family: "Lato", sans-serif; font-weight: 600; }
a { color: $dark; }

.circle-stack {
    position: relative;
    display: inline-block;
    width: (13em / 14);
    height: 1em;

    .fa-circle-thin,
    .circle-step {
        position: absolute;
        color: #03244D;
    }

    .circle-step {
        top: (7em / 8);
        left: (2.5em / 8);
        width: (11em / 8);
        height: (6em / 8);
        font-size: (6em / 14);
        font-weight: 700;
        line-height: (8em / 14);
        text-align: center;
    }
}

/* START OF HAMBURGER BUTTON */

.burger-line {
	position: absolute;
    left: 0px;
    right: 0px;
    z-index: 2;
    display: block;
    width: 30px;
    height: 4px;
    margin-right: auto;
    margin-left: auto;
    background-color: #999;
    border-radius: 10px;
}

.line-1 { top: 10px; }
.line-2 { top: 20px; }
.line-3 { top: 30px; }
.line-1.simple { top: 8px; }
.line-2.simple { top: 17px; }
.line-3.simple { top: 26px; }

.navbar-toggler-custom {
	overflow: hidden;
    width: 50px;
    height: 36px;
    padding: 0px;
    background-color: rgba(0,0,0,0);
    /*margin-right: 5px;*/
    border: 0;
}

.w-nav-button {
	position: relative;
    float: right;
    padding: 18px;
    font-size: 24px;
    display: block;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* END OF HAMBURGER BUTTON */

#menu-item-hiw {
	position: relative;
}

#menu-item-9999 {
	> .container {
		> .row {
			padding: 10px 15px;

			> div.col-sm-12 {
				text-align: center;
				> button {
					margin-top: 10px;
				}
			}

			+ .row {
				border-top: 1px solid #ddd;
			}
		}
	}
}

.hiw-text { font-weight: 400; font-size: 14px; }

#wrapper-navbar {
	.navbar {
		box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
		z-index: 1;

		.container { position: relative; }
	}
}
.with-toggle {
	> .nav-link{
		> i {
			float: right;
			padding-left: 4px;
			line-height: 26px;
			font-size: 12px;
		}
	} 
}
.dropdown-toggle::after { display: none; }
.dropdown-item { white-space: unset; }
.mega-menu-column { 
	text-transform: capitalize;

    .dropdown-item {
    	padding: .25rem 1.5rem;
    }

	> .dropdown-item {
		font-weight: 600;
		font-size: 18px;
		color: #03244D;
		border-bottom: 1px solid rgba(196,196,192,.5);

		&:hover {
			background-color: #fff;
			color: #1d549a;
		}
	}
	> .dropdown-menu {
		position: relative !important;
		display: block;
		top: 0 !important;
		margin: 0 !important;
		border: 0;
		font-size: 14px;

		.dropdown-item {

			// &:hover {
			// 	background-color: #fff;
			// 	color: #1d549a;
			// }
		}
	}
}

#wrapper-header-scrolled {
	background-color: #fff;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 999;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
	// display: none;

	.header-zip {
		display: flex;
		justify-content: center;

		.header-zip-title {
			margin-right: 1rem;
			line-height: 18px;
		}

		.header-zip-input {
			.header-zip-form {
				position: relative;

				.form-control {
					&:focus {
				    	box-shadow: none !important;
				    	border-color: #aaa;
				    }

				    &::placeholder {
				    	color: #ccc;
				    }
				}

				.input-btn, .input-btn:focus {
					background-color: $cta-color;
					color: #fff;
					font-weight: 600;
					position: absolute;
				    right: 0;
				    top: 0;
				    text-transform: uppercase;
				    border-top-left-radius: 0;
				    border-bottom-left-radius: 0;
				    box-shadow: none;

				    &:hover, &:active {
				    	background-color: rgba($cta-color, 0.75);
				    }
				}
			}
		}
	}
}

.bg-primary { background-color: #fff !important; }

.custom-logo-link {
	width: 210px;
}

$breadcrumbsTextColor: #aaa;
$breadcrumbsLastTextColor: #444;

#breadcrumbs {
	font-weight: 900;
	text-transform: uppercase;
	font-size: 14px;

    a {
    	color: $breadcrumbsTextColor; 

    	&:hover i {
    		filter: invert(1);
    	}
    }

    .bc-sepr {
    	color: $breadcrumbsTextColor;
    	font-size: 12px;
    }

    .breadcrumb_last {
		color: $breadcrumbsLastTextColor; 
    }
}

#navbarNavDropdown {

	#main-menu {
		// text-transform: uppercase;
		font-weight: 600;
	}
}

.uagb-toc__list, .uagb-toc__list .uagb-toc__list { list-style-type: none; }
.uagb-toc__list a:hover { text-decoration: none; color: #F78A37 !important; }
.uagb-toc__wrap { padding: 12px 15px; }
.wp-block-uagb-table-of-contents {
	position: relative;
	padding-top: 0px;

	~ .wp-block-spacer, ~ .wp-block-kadence-advancedbtn {
		display: none;
	}
	.uagb-toc__wrap {
		width: 100%;
		.uagb-toc__title-wrap {
			display: flex;
			.uagb-toc__title {
				font-weight: 600; 
			}

			.uag-toc__collapsible-wrap {
				pointer-events: none;
			}
		}
		.uagb-toc__list-wrap {
			height: 400px;
    		overflow-y: hidden;
    		column-count: unset !important;

			.uagb-toc__list {
				li {
					a { font-weight: 600;}
				}
				.uagb-toc__list {
					li {
						a { font-weight: 400; }
					}
				}
			}
		}
	}
	
	&.uagb-toc__collapse {
		.uag-toc__collapsible-wrap {
			svg { 
				transform: rotate(-90deg);
				-webkit-transform: rotate(-90deg);
			}
		}
	}
}

.uagb-toc__scroll-top { 
	display: none !important; 
	opacity: 0.65;
	border-radius: 50%;
	bottom: 20px;
    right: 32px;
	
	&:hover, &:focus, &:active {
		background-color: #ff6900;
		color: #fff;
		opacity: 1;
	}

	&.uagb-toc__show-scroll { display: inline-table !important; }
}

#wrapper-hero {
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    // height: calc(100vh - 80px);
    // height: 60vh;
    z-index: 0;

    .hero-overlay {
    	position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-color: rgba(0,0,0,0.35);
	    z-index: -1;
    }

    .hero-content {
    	padding: 30px 0 100px;
    }

    .entry-title {
    	text-align: center;
    	font-weight: 900;
    	color: #fff;
    	font-size: 48px;
    	letter-spacing: 0px;
    	// text-shadow: 0px 0px 10px #000;
    }

    .arrow-scroll {
    	cursor: pointer;
    	background-color: rgba(0,0,0,0.25);
    	bottom: 0;
    	left: 50%;
    	font-size: 18px;
    	line-height: 18px;
    	color: #fff;
    	transform: translate(-50%, 0);
    	animation: arrowAnim 2s infinite;
    	animation-delay: 3s;
    	-webkit-transform: translate(-50%, 0);
    	-webkit-animation: arrowAnim 2s infinite;
    	-webkit-animation-delay: 4s;

    	&:hover {
    		background-color: rgba(0,0,0,0.45);
    	}
    }

    .no-bg {
    	background-color: rgba(255,255,255,0);

    	&:hover {
    		background-color: rgba(255,255,255,0);
    		color: rgba(255,255,255,0.8);
    	}
    }
}

.page-custom {
	padding: 0;

	.moving_guides, .page {
		color: #444; 

		h2, h3, h4 { margin-bottom: 16px; }

		h2 { font-size: 36px; }
		h3 { font-size: 30px; }
		h4 { font-size: 27px; }

		.wp-block-columns {
			flex-wrap: wrap;
		}

	}

}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
}

.hiw-button {
	font-weight: 600;
    color: $cta-color;
    border-color: $cta-color;

    &:hover, &:active, &:focus {
    	border-color: $cta-color !important;
    	background-color: $cta-color !important;
    	color: #fff !important;
    	box-shadow: none !important;
    }
}


.lwptoc { margin-top: 0;}
.lwptoc_i { width: 100%; padding: 14px 12px 18px; border: 1px solid #333; }
.lwptoc:first-child { margin-top: 0px; font-size: 1rem; }
.lwptoc_header { position: relative; display: block; margin-bottom: 0; }
.lwptoc_toggle { 
	float: right; 
	width: 100%;
	position: absolute;
	right: 0;

	&:before, &:after {
		display: none;
	}

	.lwptoc_toggle_label {
	    font-size: 20px;
    	line-height: 20px;
		color: inherit !important;
		width: 100%;
		position: absolute;
		text-align: right;
		margin: 0;

	}
}
.lwptoc-notInherit .lwptoc_i DIV A:hover { border-bottom: 0px !important; }
.lwptoc .lwptoc_i A:active, .lwptoc .lwptoc_i A:focus { color: inherit !important; }
.lwptoc_items { margin-top: 10px; }
.lwptoc_title { font-size: 18px; }
.lwptoc-notInherit .lwptoc_i DIV A:hover { border-bottom: 0 !important; }
.lwptoc_item { font-weight: 900; margin-top: 0; }
.lwptoc_item > .lwptoc_itemWrap > .lwptoc_item > .lwptoc_item { font-weight: 400; }
.mobile-text { line-height: 35px; }

//back to top button
#back_to_top_button,
#back_to_top_button:focus {
  display: inline-block;
  background-color: rgba(255, 105, 0, 0.35);
  border: 1px solid #efb893;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 15px;
  right: 5px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  margin: 15px 12px;
}
#back_to_top_button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#back_to_top_button:hover,
#back_to_top_button:active {
  cursor: pointer;
  background-color: #ff6900;
}
#back_to_top_button.show {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 576px) {
	.mobile-text { line-height: 18px; }
	#back_to_top_button {
		margin: 20px;
	}
	#wrapper-hero { background-size: 110%; }
	.custom-logo-link {
		width: 270px;
	}
	.uagb-toc__scroll-top {
		bottom: 50px;
		right: 50px;
	}
	.wp-block-uagb-table-of-contents {
		~ .wp-block-spacer, ~ .wp-block-kadence-advancedbtn {
			display: block;
		}
	}
	#wrapper-header-scrolled {
		.header-zip {
			.header-zip-title {
				margin-right: 1.5rem;
				line-height: 12px;
			}
		}
	}
}

@media (min-width: 768px) {
	.navbar {
		padding: 0rem 1rem;
	}
	.nav-link {
		padding: 1.25rem 1rem;
	}
	.with-mega-menu{
		position:static;
	}

	.mega-menu-column {
	    > .dropdown-item {
	    	padding: .25rem 0rem;
	    	margin: 0 10px;
	    	width: initial;
	    }

	    > .dropdown-menu {
	    	> li > .dropdown-item {
	    		padding: .25rem 10px;
				
				&:active {
					background-color: #f8f9fa;
					color: $dropdown-link-color;
				}

	    		&:after {
	    			content: "›";
	    			display: initial;
	    			margin-left: 5px;
	    			font-size: 18px;
					line-height: 6px;
	    		}
	    	}
	    }
	}
	
	li.with-mega-menu > .dropdown-menu, li.menu-how-it-works > .dropdown-menu {
		width: 100%;
		position: absolute;
		top: 64px;
		margin: 0;
		z-index: 100;
		left:0px;
		right:0px;
	    // box-shadow: inset 0 4px 3px rgba(0,0,0,.25);
	    margin-left: 15px;
		margin-right: 15px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;

		opacity: 0;
		pointer-events: none;
	}

	li.menu-how-it-works > .dropdown-menu {
		// top: 52px;
		width: 320px;
		margin: 0 auto;
		text-transform: none;
		display: block;
	}

	li.with-mega-menu > .dropdown-menu {
		// flexbox fallback for browsers that do not support CSS Grid layout
		display: flex;
		flex-wrap: wrap;
		// CSS Grid layout
		display: grid;
		grid-template-columns: repeat(auto-fit,minmax(50%, 1fr));
	}

	li.menu-how-it-works:hover > .dropdown-menu,
	li.with-mega-menu:hover > .dropdown-menu {
		opacity: 1;
		pointer-events: visible;
		transition: all 0.5s ease;
	}

	.navbar-expand-md .navbar-collapse { width: 100%; }
	
	// li.with-mega-menu > .dropdown-menu li:hover .dropdown-menu {
	// 	display: block;
	// } 

	li.with-toggle:hover > .nav-link {
		color: rgba(0,0,0,.7);
	}

	li.mega-menu-column {
		width: 100%;
        max-width: 100%;
        min-height: 1px;
        padding: 10px;
		flex: 1 0 calc(50%);
	}
}

@media(max-width: 991px) {
	.wp-block-column { 
		flex-basis: 100% !important; 

		&:not(:first-child) {
			margin-left: 0
		}

		.wp-block-uagb-table-of-contents {
			border: 1px solid #444;

			.uagb-toc__title-wrap {
				display: flex;
			}
		}
	}
}

@media(min-width: 992px) {
	.page-custom {
		.moving_guides, .page {

			.wp-block-columns {
				flex-wrap: nowrap;

				.wp-block-uagb-table-of-contents {
					
					.uagb-toc__title-wrap {
						display: none;
					}
				}
			}

		}
	}

	.lwptoc_header {
		display: none;
	}

	.lwptoc_i { border-width: 0px; }
	.lwptoc_items { margin-top: 0; }

	li.with-mega-menu:hover > .dropdown-menu{
		grid-template-columns: repeat(auto-fit,minmax(33.33%, 1fr));
	}
	li.mega-menu-column {flex: 1 0 calc(33.33%);}

}

@media(min-width: 1200px) {
	li.with-mega-menu:hover > .dropdown-menu{
		grid-template-columns: repeat(auto-fit,minmax(16.66%, 1fr));
	}
	li.mega-menu-column {flex: 1 0 calc(16.66%);}
}

@-webkit-keyframes arrowAnim {
	0% {
		-webkit-transform: translate(-50%, 0);
	}
	20% {
		-webkit-transform: translate(-50%, 10px);
	}
	40% {
		-webkit-transform: translate(-50%, 0);
	}
}
@keyframes arrowAnim {
	0% {
		-webkit-transform: translate(-50%, 0);
	}
	20% {
		-webkit-transform: translate(-50%, 10px);
	}
	40% {
		-webkit-transform: translate(-50%, 0);
	}
}