$labelColor: #444;
$borderColor: #cacaca;
$overlayColor: #000;
$btnColor: #ff8a12;
$mainFontSize: 34px;
$bgImage: url("../images/ctazip.jpg");
$wrapperWidth: 600px;
$borderTopBottom: 50px;
$borderLeft: 30px;

.cta-wrapper {
	font-family: sans-serif;
	margin: 0 auto;
	width: 100%;
	border: 1px solid $borderColor;
	border-radius: 10px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	box-shadow: 0px 1px 5px #ccc;
	display: block;
	overflow: hidden;

	p { margin-bottom: 0; }
}

.cta-label {
	background-image: $bgImage;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 1;
	overflow: hidden;
  
	.overlay {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		background-color: rgba($overlayColor, 0.5);
		z-index: -1;
	}

	span {
		display: block;
		color: #fff;
		font-size: $mainFontSize;
		font-weight: 600;
		width: 300px;
		margin: 0 auto;
		padding: 25px 25px 50px;
		text-align: center;
		z-index: 10;
		line-height: $mainFontSize + 5px;
	}

	.mask {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		width: 0;
		height: 0;
		border-style: solid;
		border-color: #fff;
		border-width: 50px 34vw 0;
		border-top-color: transparent;
		border-bottom-color: transparent;
	}
}

.cta-content {
  padding: 20px 0;
  margin-top: 0px;
  
  label {
	color: $labelColor;
	display: block;
	font-weight: 600;
	margin: 0 auto;
	text-align: center;
  }
  
  .input-control {
	text-align: center;
	display: flex;
	justify-content: center;
	
	input[type="text"] {
	  border: 1px solid rgba($borderColor, 0.6);
	  border-top-left-radius: 4px;
	  border-bottom-left-radius: 4px;
	  padding: 12px 18px;
	  font-size: 16px;
	  width: initial;
	  
	  &::placeholder {
		color: #aaa;
	  }
	  
	  &:focus {
		border-color: $borderColor;
		outline: none;
	  }
	}

	button {
	  border: 0.25px solid $btnColor;
	  background-color: rgba($btnColor, 1);
	  color: #fff;
	  padding: 10px 15px;
	  font-size: 16px;
	  border-top-right-radius: 4px;
	  border-bottom-right-radius: 4px;
	  cursor: pointer;
	  
	  &:focus, &:hover {
		outline: none;
		background-color: rgba($btnColor, 0.8);
	  }
	}
  }
}

@media (min-width: 768px) {
  .cta-wrapper {
	display: flex;
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
  }
  
  .cta-label {
	flex-grow: 5;
	
	.mask {
	  position: absolute;
	  top: 0;
	  right: 0;
	  left: initial;
	  z-index: 1;
	  width: 0;
	  height: 0;
	  border-style: solid;
	  border-color: #fff;
	  border-width: 74px 50px;
	  border-left-width: 30px;
	  border-right-color: transparent;
	  transform: rotate(180deg);
	}
	
	span {
	  padding: 35px 25px;
	}
  }
  
  .cta-label span, .cta-content {
	margin: 0;
	text-align: left;
  }
  
  .cta-content {
	flex-grow: 2;
	margin-top: 25px;
	padding: 10px 0;
	
	label, .input-control {
	  text-align: left;
	}
	
	.input-control {
	  justify-content: left;
	  
	  input[type="text"] {
		width: 100px;
	  }
	  
	  button {
		padding: 10px 25px;
	  }
	}
  }
}